@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}
body{
background-color: slategray;
background-image: url("https://amymhaddad.s3.amazonaws.com/oriental-tiles.png");
display: flex;
flex-direction: column;
align-items: center;

}
